# Linear API Connector
# OpenAPI 3.0 specification with Airbyte extensions
# Linear uses GraphQL API - all endpoints are POST to /graphql with query in body

openapi: 3.1.0

info:
  title: Linear API Connector
  version: 1.0.0
  description: Connector for Linear GraphQL API
  x-airbyte-connector-name: linear
  x-airbyte-connector-id: 1c5d8316-ed42-4473-8fbc-2626f03f070c
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: Linear API Getting Started Guide
      url: https://linear.app/developers/graphql
    - type: api_reference
      title: Linear GraphQL API Schema Reference
      url: https://studio.apollographql.com/public/Linear-API/variant/current/schema/reference
    - type: api_deprecations
      title: Linear API Deprecations
      url: https://linear.app/developers/deprecations
    - type: changelog
      title: Linear API Changelog
      url: https://linear.app/changelog
    - type: developer_community
      title: Linear Developer Community
      url: https://linear.app/now/community
    - type: authentication_guide
      title: Linear API OAuth 2.0 Authentication
      url: https://linear.app/developers/oauth-2-0-authentication
    - type: authentication_guide
      title: Linear API OAuth Actor Authentication
      url: https://linear.app/developers/oauth-actor-authorization
    - type: authentication_guide
      title: Linear API File Storage Authentication
      url: https://linear.app/developers/file-storage-authentication
    - type: rate_limits
      title: Linear API Rate Limits
      url: https://linear.app/developers/rate-limiting

servers:
  - url: https://api.linear.app
    description: Linear API server

security:
  - apiKeyAuth: []

paths:
  # Issues Resource
  "/graphql:listIssues":
    post:
      summary: List issues
      description: Returns a paginated list of issues via GraphQL with pagination support
      operationId: listIssues
      x-airbyte-entity: issues
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      parameters:
        - name: x-apollo-operation-name
          in: header
          required: true
          schema:
            type: string
            default: "listIssues"
        - name: first
          in: query
          description: Number of items to return (max 250)
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 50
        - name: after
          in: query
          description: Cursor to start after (for pagination)
          schema:
            type: string
      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: "query($first: Int, $after: String) { issues(first: $first, after: $after) { nodes { id title description state { name } priority assignee { name email } createdAt updatedAt } pageInfo { hasNextPage endCursor } } }"
          variables:
            first: "{{ first }}"
            after: "{{ after }}"
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: GraphQL response with issues data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuesListResponse"
        "401":
          description: Unauthorized

  "/graphql:getIssue":
    post:
      summary: Get an issue
      description: Get a single issue by ID via GraphQL
      operationId: getIssue
      x-airbyte-entity: issues
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      parameters:
        - name: x-apollo-operation-name
          in: header
          required: true
          schema:
            type: string
            default: "getIssue"
        - name: id
          in: query
          required: true
          description: Issue ID
          schema:
            type: string
      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: "query($id: String!) { issue(id: $id) { id title description state { name } priority assignee { name email } createdAt updatedAt } }"
          variables:
            id: "{{ id }}"
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: GraphQL response with issue data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueResponse"
        "404":
          description: Issue not found
        "401":
          description: Unauthorized

  # Projects Resource
  "/graphql:listProjects":
    post:
      summary: List projects
      description: Returns a paginated list of projects via GraphQL with pagination support
      operationId: listProjects
      x-airbyte-entity: projects
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      parameters:
        - name: x-apollo-operation-name
          in: header
          required: true
          schema:
            type: string
            default: "listProjects"
        - name: first
          in: query
          description: Number of items to return (max 250)
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 50
        - name: after
          in: query
          description: Cursor to start after (for pagination)
          schema:
            type: string
      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: "query($first: Int, $after: String) { projects(first: $first, after: $after) { nodes { id name description state startDate targetDate lead { name email } createdAt updatedAt } pageInfo { hasNextPage endCursor } } }"
          variables:
            first: "{{ first }}"
            after: "{{ after }}"
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: GraphQL response with projects data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectsListResponse"
        "401":
          description: Unauthorized

  "/graphql:getProject":
    post:
      summary: Get a project
      description: Get a single project by ID via GraphQL
      operationId: getProject
      x-airbyte-entity: projects
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      parameters:
        - name: x-apollo-operation-name
          in: header
          required: true
          schema:
            type: string
            default: "getProject"
        - name: id
          in: query
          required: true
          description: Project ID
          schema:
            type: string
      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: "query($id: String!) { project(id: $id) { id name description state startDate targetDate lead { name email } createdAt updatedAt } }"
          variables:
            id: "{{ id }}"
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: GraphQL response with project data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        "404":
          description: Project not found
        "401":
          description: Unauthorized

  # Teams Resource
  "/graphql:listTeams":
    post:
      summary: List teams
      description: Returns a list of teams via GraphQL with pagination support
      operationId: listTeams
      x-airbyte-entity: teams
      x-airbyte-action: list
      x-airbyte-path-override:
        path: /graphql
      parameters:
        - name: x-apollo-operation-name
          in: header
          required: true
          schema:
            type: string
            default: "listTeams"
        - name: first
          in: query
          description: Number of items to return (max 250)
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 50
        - name: after
          in: query
          description: Cursor to start after (for pagination)
          schema:
            type: string
      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: "query($first: Int, $after: String) { teams(first: $first, after: $after) { nodes { id name key description timezone createdAt updatedAt } pageInfo { hasNextPage endCursor } } }"
          variables:
            first: "{{ first }}"
            after: "{{ after }}"
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: GraphQL response with teams data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsListResponse"
        "401":
          description: Unauthorized

  "/graphql:getTeam":
    post:
      summary: Get a team
      description: Get a single team by ID via GraphQL
      operationId: getTeam
      x-airbyte-entity: teams
      x-airbyte-action: get
      x-airbyte-path-override:
        path: /graphql
      parameters:
        - name: x-apollo-operation-name
          in: header
          required: true
          schema:
            type: string
            default: "getTeam"
        - name: id
          in: query
          required: true
          description: Team ID
          schema:
            type: string
      requestBody:
        required: true
        x-airbyte-body-type:
          type: graphql
          query: "query($id: String!) { team(id: $id) { id name key description timezone createdAt updatedAt } }"
          variables:
            id: "{{ id }}"
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: GraphQL response with team data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamResponse"
        "404":
          description: Team not found
        "401":
          description: Unauthorized

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication (format - API key directly, no Bearer prefix)

  schemas:
    # Issue Schemas
    Issue:
      type: object
      x-airbyte-entity-name: issues
      description: Linear issue object
      required:
        - id
        - title
      properties:
        id:
          type: string
          description: Unique issue identifier
        title:
          type: string
          description: Issue title
        description:
          oneOf:
            - type: string
            - type: "null"
          description: Issue description
        state:
          oneOf:
            - type: object
              properties:
                name:
                  type: string
            - type: "null"
          description: Issue state
        priority:
          oneOf:
            - type: number
            - type: "null"
          description: Issue priority (0-4)
        assignee:
          oneOf:
            - type: object
              properties:
                name:
                  type: string
                email:
                  type: string
            - type: "null"
          description: Assigned user
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp

    IssuesListResponse:
      type: object
      description: GraphQL response for issues list
      properties:
        data:
          type: object
          properties:
            issues:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    $ref: "#/components/schemas/Issue"
                pageInfo:
                  type: object
                  description: Pagination information
                  properties:
                    hasNextPage:
                      type: boolean
                      description: Whether there are more items available
                    endCursor:
                      type: ["string", "null"]
                      description: Cursor to fetch next page

    IssueResponse:
      type: object
      description: GraphQL response for single issue
      properties:
        data:
          type: object
          properties:
            issue:
              $ref: "#/components/schemas/Issue"

    # Project Schemas
    Project:
      type: object
      x-airbyte-entity-name: projects
      description: Linear project object
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Unique project identifier
        name:
          type: string
          description: Project name
        description:
          oneOf:
            - type: string
            - type: "null"
          description: Project description
        state:
          oneOf:
            - type: string
            - type: "null"
          description: Project state (planned, started, paused, completed, canceled)
        startDate:
          oneOf:
            - type: string
              format: date
            - type: "null"
          description: Project start date
        targetDate:
          oneOf:
            - type: string
              format: date
            - type: "null"
          description: Project target date
        lead:
          oneOf:
            - type: object
              properties:
                name:
                  type: string
                email:
                  type: string
            - type: "null"
          description: Project lead
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp

    ProjectsListResponse:
      type: object
      description: GraphQL response for projects list
      properties:
        data:
          type: object
          properties:
            projects:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    $ref: "#/components/schemas/Project"
                pageInfo:
                  type: object
                  description: Pagination information
                  properties:
                    hasNextPage:
                      type: boolean
                      description: Whether there are more items available
                    endCursor:
                      type: ["string", "null"]
                      description: Cursor to fetch next page

    ProjectResponse:
      type: object
      description: GraphQL response for single project
      properties:
        data:
          type: object
          properties:
            project:
              $ref: "#/components/schemas/Project"

    # Team Schemas
    Team:
      type: object
      x-airbyte-entity-name: teams
      description: Linear team object
      required:
        - id
        - name
        - key
      properties:
        id:
          type: string
          description: Unique team identifier
        name:
          type: string
          description: Team name
        key:
          type: string
          description: Team key (short identifier)
        description:
          oneOf:
            - type: string
            - type: "null"
          description: Team description
        timezone:
          oneOf:
            - type: string
            - type: "null"
          description: Team timezone
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp

    TeamsListResponse:
      type: object
      description: GraphQL response for teams list
      properties:
        data:
          type: object
          properties:
            teams:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    $ref: "#/components/schemas/Team"
                pageInfo:
                  type: object
                  description: Pagination information
                  properties:
                    hasNextPage:
                      type: boolean
                      description: Whether there are more items available
                    endCursor:
                      type: ["string", "null"]
                      description: Cursor to fetch next page

    TeamResponse:
      type: object
      description: GraphQL response for single team
      properties:
        data:
          type: object
          properties:
            team:
              $ref: "#/components/schemas/Team"
